/* base */
@import '../base/base.css';
@import '../base/layout.css';

.hero {
    background-image: url(..//../img/background.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    height: 100vh;
}
/* 3rd-party */

/* components */

/* CUSTOM STYLE BELOW THIS COMMENT LINE */

.logo {
    width: 60px;
}
.main-title {
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
}
.main-description {
    font-size: 20px;
    text-align: center;
}